.MainProduct {
  width: 100%;
  position: relative;
}

.MainProduct img {
  width: 100%;
  user-select: none;
}

.TimeData {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: 600;
}

.HeartRateData {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: 600;
}

.HeartRateData i {
  color: red;
  animation: heartbeat 1s infinite;
}

.HeartRateData p {
  margin-top: 16px;
}

@keyframes heartbeat {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2)
  }

  100% {
    transform: scale(1, 1);
  }
}